body {
    margin: 0;
    background-color: rgb(243, 243, 243);
}

html, body {
    height: 100%;
}


.blue {
    color: #1C73D8;    
}

nav {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    padding: 10px;
    align-items: center;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

nav img {
    width: auto;
    height: 60px;
    margin-left: 10%;
}

nav div {
    display: flex;
    width: 30%;
    margin-right: 10%;
    justify-content: space-around;
    color: rgb(46, 46, 46);
}

nav div h2 {
  font-size: 14px;
  font-weight: 550;
  cursor: pointer;
}

#homelineCont {
    text-align:center;
    margin: auto;
    margin-top: 3rem;
    max-width: 35%;
}

#homelineCont h3 {
    font-size: 52px;
    font-family: "Archivo Black", sans-serif;
    margin: 0;
}

#homelineCont div {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 3rem 0 0 0;
}

#homelineCont button {
    margin-top: 3rem;
    width: 15rem;
    height: 5rem;
    background-color: #1C73D8;
    font-size: 18px;
    font-family: "Archivo Black", sans-serif;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
    color: white;
}


#threeIconCont {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    justify-content: space-around;
}


.iconCont {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

