body {
    margin: 0;
    background:
    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
    url("./images/pexels-anastasia-shuraeva-4944435.jpg");
  background-size: cover;
  background-position: center;
}

.blue {
    color: #1C73D8; 
    /* text-shadow: 1px 1px 0px rgb(0, 0, 0);    */
}

.black {
    /* text-shadow: 1px 1px 0px rgb(156, 156, 156); */
}

nav {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    padding: 10px;
    align-items: center;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

nav img {
    width: auto;
    height: 60px;
    margin-left: 10%;
}

nav div {
    display: flex;
    width: 30%;
    margin-right: 10%;
    justify-content: space-around;
    color: rgb(46, 46, 46);
}

nav div h2 {
  font-size: 14px;
  font-weight: 550;
  cursor: pointer;
}

#homelineCont {
    text-align:center;
    margin: auto;
    margin-top: 3rem;
    max-width: 750px;
    width: 90%;
}

#homelineCont h3 {
    font-size: 52px;
    font-family: "Archivo Black", sans-serif;
    margin: 0;
    white-space: nowrap;
}

#homelineCont div {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 3rem 0 0 0;
}

#homelineCont button {
    margin-top: 3rem;
    width: 15rem;
    height: 5rem;
    background-color: #1C73D8;
    font-size: 18px;
    font-family: "Archivo Black", sans-serif;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
    color: white;
}

#threeIconCont {
    display: flex;
    width: 80%;
    margin: 5rem auto 4rem auto;
    justify-content: space-around;
}

.iconCont {

    width: 30%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
border: none;
border-radius: 16px;
}

.iconCont h4 {
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
}

.iconCont svg {
    margin: 5px 0 20px 0;
}

.iconCont p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 80%;
    text-align: center;
    margin: 5px auto 25px auto ;
}




